<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart HealthCare</title>
</head>
<body>
    <div>
        <h1>Smart HealthCare</h1>
    </div>
    {% for patient in patients %}
        <div>
            <a href="">
                <h2>Patient Name: {{patient.name}}</h2>
                <h3>Age: {{patient.age}}</h3>
            </a>
        </div>
    {% endfor %}
    <p>Hello!</p>
    <p>Its, working!</p>
</body>
</html>